body{
    background-color:#2d283e;
}

header{
    display: flex;
    position: relative;
    width:100%;
    height:120px;
    /*background-color:cadetblue;*/
}

.logo{
    clip-path: circle(70.5% at 30% 50%);
    position: relative;
    height:130px;
    width:200px;
    margin:10px;
    background-color:#d1d7e0;
}

img{
    padding-left: 20px;
    width:59%;
}

.stuff{
    display:flex;
    flex-direction: row-reverse;
    position: relative;
    height:130px;
    width:100%;
    margin:10px;
    /*background-color:white;*/
}

.stuff1{
    display:flex;
    flex-direction:row-reverse;
    clip-path: circle(68.0% at 68% 49%);
    position: relative;
    height:130px;
    width:300px;
    margin:px;
    background-color:#d1d7e0;
}

nav{ 
    color:#d1d7e0;
    top:5px;
    font-family:'Quicksand', sans-serif;
    text-align: center;
    position: relative;
    height:30px;
    margin:10px 300px;
    /*background-color:cadetblue;*/
}

nav a{
    color:#d1d7e0;
    text-decoration: none;
    padding:60px;
    font-family:'Quicksand', sans-serif;
    font-size: 12px;
}

nav a:hover, a:active {
    color: #fade26;
}

hr{
    color:#fade26;
    margin:0% 3%;
}

main{
    align-items: space-around;
    position: relative;
    display: flex;
    height:600px;
    margin:10px;
    /*background-color:black;*/
}

.trendzbox{
    align-self: center;
    justify-content:center;
    display: flex;
    position: relative;
    height:600px;
    width:100%;
    /*background-color:cadetblue;*/
}


.clip{
    align-self: flex-start;
    bottom:0px;
    text-align:center;
    position: relative;
    height:150px;
    width:400px;
    /*margin:0px;*/
    background-color:#802bb1;
    clip-path: circle(30.0% at 50% 5%);
}

.clip h1{
    padding-top: 10px;
    color:#d1d7e0;
    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
}

.item{
    font-family: 'Quicksand', sans-serif;
    flex-direction: row;
    justify-content:center;
    display:flex;
    position: relative;
    margin:10px;
    height:580px;
    width:100%;
    margin:px;
    /*background-color:grey;*/
}

.itemimage{
    margin:10px;
    width:700px;
    height:560px;
    /*background-color: aqua;*/
}

.itemimage img{
    position: relative;
    right:20px;
    width:100%;
}

.itemdes{
    display:flex;
    flex-direction: column;
    margin:0px;
    width:700px;
    height:580px;
    /*background-color: aqua;*/
}

.itemname{

    display:flex;
    position: relative;
    margin-top:10px;
    width:680px;
    height:30px;
    /*background-color: red;*/
}

.itemname h1{
    position: relative;
    bottom:23px;
    color:#fbeec1;
    font-size:25px;
}

.itembox{
    flex-direction:row;
    display:flex;
    position: relative;
    margin:0px;
    width:680px;
    height:530px;
    /*background-color: whitesmoke;*/
}

.ibox3{
    display:flex;
    position: relative;
    margin:10px;
    width:70px;
    height:510px;
    /*background-color: black;*/
}

.ibox4{
    align-items:center;
    display:flex;
    flex-direction: column;
    position: relative;
    margin:10px;
    width:570px;
    height:520px;
    /*background-color: black;*/
}

.circle1{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    align-items:center;
    margin-left: 10px;
    width:50px;
    height:50px;
    background-color: #fbeec1;
    clip-path: circle(50% at 50% 50%);
}

.ides{
    flex-direction: column;
    text-align: left;
    bottom:0px;
    display:flex;
    position: relative;
    width:650px;
    height:160px;
   /* background-color: blue;*/
}

.ides p{
    align-self: flex-start;
}

.pp p{
    color:#daad86;
    font-size:20px;
}

.isize{
    display:flex;
    position: relative;
    margin:20px;
    width:510px;
    height:50px;
    /*background-color: blue;*/
}



.isize a{
    position: relative;
    text-decoration: none;
    color:#05386b;
    top: 15px;
    
}

.icolour{
    bottom:10px;
    display:flex;
    position: relative;
    margin:20px;
    width:510px;
    height:50px;
    /*background-color: blue;*/
}

.clr1  .circle1{
    background-color: rgba(0, 0, 0, 0.548);
}

.clr2  .circle1{
    background-color: rgba(255, 255, 255, 0.753);
}

.clr3  .circle1{
    background-color: rgba(255, 255, 0, 0.548);
}

.clr4  .circle1{
    background-color: rgba(0, 128, 0, 0.548);
}

.clr5  .circle1{
    background-color: rgba(165, 42, 42, 0.548);
}


.clr1 a{
    position: relative;
    color:white;
    text-decoration: none;
    top:15px;
}

.clr2 a{
    position: relative;
    color:black;
    text-decoration: none;
    top:15px;
}

.clr3 a{
    position: relative;
    color:black;
    text-decoration: none;
    top:15px;
}

.clr4 a{
    position: relative;
    color:white;
    text-decoration: none;
    top:15px;
}

.clr5 a{
    position: relative;
    color:white;
    text-decoration: none;
    top:15px;
}

.price{
    align-self: flex-end;
    flex-direction: row;
    display:flex;
    position: relative;
    margin:0px;
    width:410px;
    height:50px;
    /*background-color: blue;*/
}

.boxx p{
    color: white;
}

.boxx{
    display:flex;
    position: relative;
    justify-content:center;
    width:100px;
    height:50px;
    /*background-color: blue;*/
}

.boxx2{
    justify-content:center;
    display:flex;
    flex-direction: row;
    position: relative;
    flex:1;
    width:100px;
    height:50px;
    /*background-color: black;*/
}

.boxx2 .line{
    position: relative;
    color: white;
    top:25px;
}


.cartb{
    justify-content: space-between;
    flex-direction: row-reverse;
    top:70px;
    align-self: flex-end;
    display:flex;
    position: relative;
    margin-top:30px;
    width:220px;
    height:30px;
    /*background-color: blue;*/
}

.button {
    background-color: #802bb1;
    border: none;
    border-radius: 3px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

.button:hover {
    background-color: black;
    color: white;
  }
.addtocart{
    height:40px;
    width:100px;
    /*background-color: azure;*/
}

.buy{
    height:30px;
    width:100px;
    /*background-color: azure;*/
}

p a{
    text-decoration: none;
    color:#d1d7e0;
}

p{
    color:#d1d7e0;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    
}


.footermain{
    width:100%;
    height: 200px;
    display:flex;
    position:relative;
    margin:10px;
}

.footermain h1{
    color:white;
    font-family: 'Quicksand', sans-serif;
}

.main{
    flex-wrap: nowrap;
    display:flex;
    justify-content: space-around;
    position: relative;
    height:200px;
    width:400px;
    /*background-color:#d1d7e0;*/
}

.quick{
    position: relative;
    height:200px;
    width:200px;
    /*background-color:black;*/
}

.get{
    position: relative;
    height:200px;
    width:200px;
    /*background-color:brown;*/
}

footer h1{
    font-size:11px;
    text-align: center;

}

footer p{
    padding-top:40px;
    font-size:11px;
    text-align: center;
}

footer a:hover, a:active {
    color: #fade26;
}

.links{
    text-align: center;
    display: flex;
    flex-direction: column;
    left:19%;
    position: relative;
    height:170px;
    width:400px;
    /*background-color:darkcyan;*/
}

.empty{
    display:flex;
    position: relative;
    height:60px;
    width:400px;
    /*background-color:white;*/
}

.line{
    height:3px;
    width: 380px;
    /*background-color:white;*/
}

.line hr{
    color: #d1d7e0;
}

.morelinks{
    display: flex;
    justify-content: space-around;
    top:5px;
    position: relative;
    height:40px;
    width:400px;
    /*background-color:white;*/
}
.links a{
    color:#d1d7e0;
    padding: 5px;
}

.btmlogo{

    text-align: center;
    display: flex;
    flex-direction:row-reverse;
    left:35.6%;
    position: relative;
    height:100%;
    width:400px;
    /*background-color:darkcyan;*/
}

.empty2{
    display:flex;
    flex-direction: column-reverse;
    position: relative;
    height:170px;
    width:200px;
    /*background-color:white;*/
}

.empty2 img{
    width:50%;
    padding: 40px;
}

.credit{
    flex-direction: column-reverse;
    display:flex;
    position: relative;
    height:155px;
    width:200px;
    /*background-color:white;*/
}


.cards{
    justify-content: space-around;
    display:flex;
    position: relative;
    height:30px;
    width:200px;
    /*background-color:darkgrey;*/
}